$colors: ("primary": #3978ff, "success": #43b335, "error": #dd4a4a);

* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}

.is-hidden {
    visibility: hidden;
}

.main {
    height: 100vh;
    width: 100%;
    background-color: #f7f7f7;
}

.test-container {
    position: relative;
    top: 10vh;
    min-height: 50vh;
    background-color: map-get($colors, "primary");
    color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em 4em;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    & .title {
        font: {
            weight: 400;
            size: 4em;
        }

        text-align: center;
    }

    &.is-success {
        background-color: map-get($colors, "success");
    }

    &.is-error {
        background-color: map-get($colors, "error");
    }
}

@media (max-width: 520px) {
    body {
        font-size: 12px;
    }

    .test-container {
        top: 0;
        height: 100%;
        padding: 1em;

        & .title {
            font-size: 3em;
        }
    }
}